node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Test Snapshots (jest)
components/StdButton/__snapshots__/
components/Textbox/__snapshots__/
